h1{
    color: red;
    font-style: italic;
    text-align: center;
    font-size: 24px;
    text-shadow: 1px 1px 2px green;
}

.item_price{
    background-color: blue;
    color: orange;
    margin-top: 100px
}

.description{
    font-size: 50px;
}
